@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-white me-2" asp-area="Identity" asp-page="/Account/Manage/Index" title="Gerenciar Conta">
                <i class="bi bi-person-circle me-1"></i> Olá, @(User.Identity?.Name ?? "Usuário")!
            </a>
        </li>
        <li class="nav-item">
            @* IMPORTANTE: O logout PRECISA ser method="post" *@
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-white border-0 py-0" style="line-height: 40px;">
                    <i class="bi bi-box-arrow-right"></i> Sair
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white me-2" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-light btn-sm px-3 mt-1" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
        </li>
    }
</ul>